.listaTarefas form {
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
}

.listaTarefas input {
    display: flex;
    width: 100%;
    height: 60px;
    background: #2D3046;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 10px;
    color: #FFF;
}

.listaTarefas button.add {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #363B65;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 10px 25px;
    height: 60px;
    border-radius: 0 10px 10px 0;
}

.listaTarefas button.add:hover {
    background-color: #363f88;
}

.listaTarefas {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin:0 auto;
}

.listaTarefas .item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #363B65;
    margin-bottom: 10px;
    cursor: pointer;
}

.listaTarefas .item:hover {
    background-color: #151627;
}

.listaTarefas .item span {
    width: 100%;
    color: #FFF;
    margin-right: 10px;
    padding: 10px 15px;
    text-align: start;
}

.listaTarefas .item.completo {
    display: flex;
    justify-content: space-between;
    background-color: #1E1F2E;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.listaTarefas .item.completo span {
    width: 100%;
    color: #4D506E;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
    text-align: start;
}

.listaTarefas button.del {
    background: none;
    border: none;
    color: #4D506E;
    padding: 15px;
    cursor: pointer;
}

.listaTarefas button.del:hover {
    background-color: #FF004C;
    color: #FFF;
}

.listaTarefas button.deleteAll {
    border: 1px solid #FF004C;
    background: none;
    padding: 15px;
    color: #FF004C;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.listaTarefas button.deleteAll:hover {
    background-color: #FF004C;
    color: #FFF;
}

.icone-central{
    width: 100%;
}

@media screen and (max-width: 900px) {
    .listaTarefas form {
        width: 100%;
    }

    .listaTarefas {
        width: 100%;
    }
}